version: '3'
services:
  web:
    container_name: web
    image: ${DOCKERHUB_USERNAME}/backoffice
    expose:
      - 8082
    ports:
      - 8082:8082
    depends_on:
      - mysql
      - mongodb
      - redis

  mongodb:
    container_name: mongodb
    image: mongo:latest
    hostname: mongodb
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: kdr14163^

  redis:
    container_name: redis
    image: redis:latest
    hostname: redis
    ports:
      - 6379:6379

  mysql:
    image: mysql:latest
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: backoffice
      MYSQL_USER: user
      MYSQL_PASSWORD: 12341234
    ports:
      - "3306:3306"