version: '3.8'

services:
  backoffice:
    image: ${DOCKERHUB_USERNAME}/backoffice:latest
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      - redis
      - mongodb
    networks:
      - nginx_network

  redis:
    image: redis:latest
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - nginx_network

  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - nginx_network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./sites-available/default:/etc/nginx/sites-available/default
      - ./sites-enabled:/etc/nginx/sites-enabled
    depends_on:
      - backoffice
    networks:
      - nginx_network

networks:
  nginx_network:

volumes:
  redis_data:
  mongodb_data:
