name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'zulu'

    # 권한 부여
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # gradle caching
    - name: Gradle Caching
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    # Build Gradle
    - name: Build with Gradle
      run: ./gradlew assemble

      # make application.yml
    - name: Make application.yml
      run: |
        cd ./src/main/resources
        touch ./application.yml
        echo "${{ secrets.APPLICATION }}" > ./application.yml

    # test code 빌드
    # 빌드 안되어야함.
    # - name: Test with Gradle
    #  run: ./gradlew test

    # docker login
    - name: Docker Login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # *.jar -> Docker Image Build
      # 디렉토리 이름은 마음대로 /air_dns_test
    - name: Docker Image Build
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backoffice:latest .

      # DockerHub's Image push
    - name: DockerHub Push
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/backoffice:latest